body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(135deg, #0d1b2a, #1f3a57); */

  background: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;
  background-size: cover;
  color: white !important;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-char {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: default;
}

.hover-char:hover {
  transform: scale(1.5);
  color: #00d1ff; /* or any highlight color */
}



@keyframes bounceIn {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-10px) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

